body{
    background-color: antiquewhite;
}
h1{
    font-family: 'Playpen Sans', cursive;
}
#app{
    position: relative;
}
li > div:first-child{
    width: 90%;
    word-wrap: break-word;
}
li:hover{
    filter: brightness(90%);
    
}
.crossedOut{
    text-decoration: line-through;
}

.success-height{
    height: 700px;
}
.selector{
    position: absolute;
    right: 8%;
    bottom: 300px;
}
.list-height{
    height: 500px;
    overflow-y: auto;
}
